@font-face {
  font-family: RobotoMono;
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'RobotoMono','monospace';
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(to right, #1d2b64, #f8cdda);;
}